In [7]:
-- Esploro la tabella Sales Orders
SELECT TOP(5) *
FROM TSQLV4.Sales.Orders;

orderid,custid,empid,orderdate,requireddate,shippeddate,shipperid,freight,shipname,shipaddress,shipcity,shipregion,shippostalcode,shipcountry
10248,85,5,2014-07-04,2014-08-01,2014-07-16,3,"32,3800",Ship to 85-B,6789 rue de l'Abbaye,Reims,NULL,10345,France
10249,79,6,2014-07-05,2014-08-16,2014-07-10,1,"11,6100",Ship to 79-C,Luisenstr. 9012,Münster,NULL,10328,Germany
10250,34,4,2014-07-08,2014-08-05,2014-07-12,2,"65,8300",Destination SCQXA,"Rua do Paço, 7890",Rio de Janeiro,RJ,10195,Brazil
10251,84,3,2014-07-08,2014-08-05,2014-07-15,1,"41,3400",Ship to 84-A,"3456, rue du Commerce",Lyon,NULL,10342,France
10252,76,4,2014-07-09,2014-08-06,2014-07-11,2,"51,3000",Ship to 76-B,"Boulevard Tirou, 9012",Charleroi,NULL,10318,Belgium

In [ ]:
-- Restituisco tutti gli ordini effettuati a Giugno 2015
SELECT 
    orderid, 
    orderdate, 
    custid, 
    empid
FROM TSQLV4.Sales.Orders
WHERE (orderdate >= '20150601') AND (orderdate < '20150701');

In [47]:
-- Restituisco Media e Varianza del Processing Time (Shippeddate - Orderdate), divisa per Paese e Anno.
SELECT 
    shipcountry AS "Country",
    YEAR(shippeddate) AS 'Year',
    AVG(DATEDIFF(DAY, orderdate, shippeddate)) AS "Average Processing Time",
    ROUND(STDEV(DATEDIFF(DAY, orderdate, shippeddate)), 0) AS "Standard Deviation Processing Time"
FROM 
    TSQLV4.Sales.Orders
GROUP BY 
    shipcountry, 
    YEAR(shippeddate)
HAVING 
    (YEAR(shippeddate) IS NOT NULL) AND (shipcountry IN ('UK', 'Spain','Portugal'))
ORDER BY 
    shipcountry, 
    YEAR(shippeddate);

Country,Year,Average Processing Time,Standard Deviation Processing Time
Portugal,2014,3,2
Portugal,2015,11,7
Portugal,2016,6,1
Spain,2014,10,11
Spain,2015,11,9
Spain,2016,7,8
UK,2014,4,3
UK,2015,10,9
UK,2016,7,3

In [ ]:
-- Seleziono tutti gli ordini effettuati alla fine del mese.
SELECT orderid, orderdate, custid, empid
FROM TSQLV4.Sales.Orders
WHERE orderdate = EOMONTH(orderdate)

In [57]:
-- Esploro la tabella HR.Employees
SELECT TOP (5) *
FROM TSQLV4.HR.Employees;

-- Seleziono tutti gli impiegati nel cui cognome compare la lettera 'e' almeno due volte
SELECT empid, firstname, lastname, LEN(lastname) - LEN(REPLACE(lastname, 'e','')) AS "Occurrences of 'e'"
FROM TSQLV4.HR.Employees
WHERE LEN(lastname) - LEN(REPLACE(lastname, 'e','')) >= 2;

empid,lastname,firstname,title,titleofcourtesy,birthdate,hiredate,address,city,region,postalcode,country,phone,mgrid
1,Davis,Sara,CEO,Ms.,1968-12-08,2013-05-01,"7890 - 20th Ave. E., Apt. 2A",Seattle,WA,10003,USA,(206) 555-0101,NULL
2,Funk,Don,"Vice President, Sales",Dr.,1972-02-19,2013-08-14,9012 W. Capital Way,Tacoma,WA,10001,USA,(206) 555-0100,1
3,Lew,Judy,Sales Manager,Ms.,1983-08-30,2013-04-01,2345 Moss Bay Blvd.,Kirkland,WA,10007,USA,(206) 555-0103,2
4,Peled,Yael,Sales Representative,Mrs.,1957-09-19,2014-05-03,5678 Old Redmond Rd.,Redmond,WA,10009,USA,(206) 555-0104,3
5,Mortensen,Sven,Sales Manager,Mr.,1975-03-04,2014-10-17,8901 Garrett Hill,London,NULL,10004,UK,(71) 234-5678,2

empid,firstname,lastname,Occurrences of 'e'
4,Yael,Peled,2
5,Sven,Mortensen,2

In [62]:
-- Esploro la tabella Sales.OrdersDetails
SELECT TOP (5) *
FROM TSQLV4.Sales.OrderDetails

-- Seleziono tutti gli ordini con un valore superiore ai 10.000$
SELECT orderid AS "Order ID", qty*unitprice AS "Total Value"
FROM TSQLV4.Sales.OrderDetails
WHERE qty*unitprice >= 10000
ORDER BY qty*unitprice DESC;

-- FUNZIONE PER ISTOGRAMMA QUANTITA' ORDINI

orderid,productid,unitprice,qty,discount
10248,11,"14,0000",12,"0,000"
10248,42,"9,8000",10,"0,000"
10248,72,"34,8000",5,"0,000"
10249,14,"18,6000",9,"0,000"
10249,51,"42,4000",40,"0,000"

Order ID,Total Value
10865,"15810,0000"
10981,"15810,0000"
10889,"10540,0000"
10353,"10540,0000"
10417,"10540,0000"
10424,"10329,2000"